.footer {
    height: 10vh;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 7%;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav-right {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
}

.footer-nav-right a:hover {
    display: inline-block;
    transform: scale(1.1);
}

.logo {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
}

.nav-btn {
    font-size: 18px;
    font-weight: 700;
    margin-left: 3vw;
    text-decoration: none;
}

.social {
    display: flex;
    align-items: center;
}

.social-btn-1 {
    height: 15px;
    width: 15px;
}

.social-btn-2 {
    margin-left: 10px;
    height: 18px;
    width: 18px;
}

.social-btn-3 {
    margin-left: 10px;
    height: 20px;
    width: 16px;
}

.social a:hover {
    display: inline-block;
    transform: scale(1.1);
    color: rgba(17, 76, 136, 0.8);
}