.footer {
    height: 10vh;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 7%;
}

.footer-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    width: 82%;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
}

.nav-btn {
    font-size: 18px;
    font-weight: 700;
    margin-left: 3vw;
    text-decoration: none;
}

.nav-btn:hover {
    display: inline-block;
    transform: scale(1.1);
}

.social a {
    color: black;
    margin-left: 1vw;
}

.social a:hover {
    display: inline-block;
    transform: scale(1.1);
    color: rgba(17, 76, 136, 0.8);
}

/* Can't get the color to change for the social buttons
    on :hover effect. */