.header {
    height: 3vh;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 7%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-right {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: fonts.$main-font;
    font-size: 28px;
    font-weight: 700;
}

.nav-btn {
    font-family: fonts.$main-font;
    font-size: 18px;
    font-weight: 700;
    margin-left: 3vw;
}