.header {
    height: 3vh;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 7%;
}

.header-nav ul {
    display: flex;
    text-align: right;
    align-items: center;
}

.logo {
    font-family: fonts.$main-font;
    font-size: 28px;
    font-weight: 700;
    margin-right: auto;
}

.nav-btn {
    font-family: fonts.$main-font;
    font-size: 18px;
    font-weight: 700;
    margin-left: 3vw;
}

.nav-btn:hover {
    display: inline-block;
    transform: scale(1.1);
}

.active-page {
    text-decoration: underline;
}